@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-cinzel {
  font-family: "Cinzel", serif;
}

.nav-bg {
  background-color: rgba(21, 21, 21, 0.5);
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel .slide {
  height: 800px;
}

.section-subheading {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 16px;

  color: #d99904;
}

.section-heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  padding: 24px 0;
  text-align: center;

  /* Dark 01 */
  text-transform: uppercase;

  color: #151515;
  border-bottom: 4px solid #e8e8e8;
  border-top: 4px solid #e8e8e8;
}

.menu-item-title {
  font-family: "Cinzel";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* identical to box height */

  /* Dark 01 */

  color: #151515;
}

.menu-recipe {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;

  color: #737373;
}

/* Tab  Styles */

.react-tabs__tab {
  border: none !important;
  position: none!;
}
.react-tabs__tab--selected {
  border-bottom: 4px solid #bb8506 !important;
  color: #bb8506;
}

.react-tabs__tab-list {
  text-align: center;
  border: none !important;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  /* Dark 01 */

  color: #151515;
}
.react-tabs__tab-list li {
  margin-right: 57px;
}

.login-wrapper {
  background-image: url(../src/assets/reservation/wood-grain-pattern-gray1x.png);
  padding: 105px 175px;
}
.login {
  background-image: url(../src/assets/others/authentication.png);
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
  padding: 58px 193px 44px 100px;
}

.btn-login {
  background: rgba(209, 160, 84, 0.7);
  border-radius: 8px;

  color: white;
}
